@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
	font-family: "Montserrat", sans-serif;
}

ul li {
	display: inline;
	padding-right: 10px;
	align-items: center;
	align-self: center;
}

ul li span {
	font-weight: 900;
	/* //font-size: 1.1 rem; */
}

.hidden {
	display: none;
}

#base {
	padding: 16px;
	font-style: italic;
	font-weight: bold;
}